<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/style.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../static/favicon_io/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../static/favicon_io/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../static/favicon_io/favicon-16x16.png"
    />
    <link rel="manifest" href="../static/favicon_io/site.webmanifest" />
    <title>Rekruto Web Service</title>
  </head>
  <body>
    <main class="main">
      <p class="main-text">Hello {{name}}! {{message}}!</p>
    </main>
    <footer class="footer">
      <a href="https://github.com/Ddedoss/rekruto_ws/tree/ver_0.1" class="hov"
        >project repository</a
      >
      <br />
      <a href="https://github.com/Ddedoss" class="hov"
        >backend github profile</a
      >
      <br />
      <a href="https://github.com/drkr4in" class="hov"
        >frontend github profile</a
      >
    </footer>
  </body>
</html>
